h1.header__title Автосервис в Балашихе
h4.header__subtitle Ремонт автомобиля в Балашихе
p.header__description Сеть Техцентров CITY-MOTORS – современные Автосервисы в Балашихе предлагающий профессиональное обслуживание транспортных средств. К нам выгодно обращаться автовладельцам, которые хотят быть уверенными в качестве услуг и честной стоимости. Мы ремонтируем автомобили с помощью собственного оборудования, задействуем штатных сотрудников. Поэтому гарантируем своевременность, надежность, адекватные цены.
  img(src="static/images/content/little-gear.png").little-gear
+icon('mouse', 'header__mouse')
