.header__menu
  nav.header__nav.header-nav
    ul.header-nav__list
      li.header-nav__item
        a(href='').header-nav__link Главная
      li.header-nav__item
        a(href='').header-nav__link О Компании
      li.header-nav__item
        a(href='').header-nav__link Услуги
      li.header-nav__item
        a(href='').header-nav__link Сотрудничество
      li.header-nav__item
        a(href='').header-nav__link Наши работы
      li.header-nav__item
        a(href='').header-nav__link Регионам
      li.header-nav__item
        a(href='').header-nav__link Цены
      li.header-nav__item
        a(href='').header-nav__link.call__btn.header-nav__btn Заказать звонок
  .callback__body
    form(id='callback-form').callback__form
        h5.callback__title Заказать звонок
        .callback__input-wrapper
          input(type='text' name='Ваше имя' placeholder='Ваше имя *' ).callback__input
        .callback__input-wrapper
          input(type='text' name='Ваша фамилия' placeholder='Ваша фамилия *').callback__input
        .callback__input-wrapper
          input(type='text' name='e-mail' placeholder='e-mail *').callback__input
        .callback__input-wrapper
          input(type='text' name='Описание работ' placeholder='Описание работ').callback__input
        button.callback__btn Отправить
