.header__main
  .header__logo.logo
    img(src='static/images/general/logo.png' alt='Логотип').logo__img
  .header__item.header-adress
    +icon('location', 'header-adress__icon')
    .header__desc
      span.header__label CITY-MOTORS
      span.header__text Реутов, Проспект Мира 56
  .header__item.header-email
    +icon('email', 'header-email__icon')
    .header__desc
      span.header__label EMAIL
      a(href="info@auto-cm.ru").header__text info@auto-cm.ru
  .header__item.header-work-time
    +icon('work-time', 'header-work-time__icon')
    .header__desc
      span.header__label 10.00 — 20.00
      span.header__text Без выходных
  .header__item.header-phone
    +icon('phone', 'header-phone__icon')
    .header__desc
      span.header__label Звоните
      a(href='+7 (495) 740-91-85').header__text +7 (495) 740-91-85
  
