extends template/main

block variables
	- var title = 'Главная страница'

block content
	include pages/index/advantages
	include pages/index/contacts
	include pages/index/city-motors
	include pages/index/remont
	include pages/index/works
	include pages/index/map
