section.s-advantages-and-service
  .container
    h2.advantages__title Наши преимущества
    .advantages
      .advantages__item
        +icon('settings-gear', 'advantages__icon')
        p.advantages__text 20 000+ АВТОЗАПЧАСТЕЙ
      .advantages__item
        +icon('sticker', 'advantages__icon')
        p.advantages__text ГАРАНТИЯ ДО 2 ЛЕТ
      .advantages__item
        +icon('time', 'advantages__icon')
        p.advantages__text РЕМОНТ БЫСТРО И ВО ВРЕМЯ
      .advantages__item
        +icon('ruble', 'advantages__icon')
        p.advantages__text ДОСТУПНАЯ СТОИМОСТЬ РЕМОНТА
      .advantages__item
        +icon('cam', 'advantages__icon')
        p.advantages__text ONLINE КАМЕРЫ НА ВСЕХ ПОСТАХ  
      .advantages__item
        +icon('credit-card', 'advantages__icon')
        p.advantages__text ЛЮБОЙ СПОСОБ ОПЛАТЫ
      .advantages__item
        +icon('recommended', 'advantages__icon')
        p.advantages__text МЫ - КАЧЕСТВЕННЫЙ ТЕХЦЕНТР 
      .advantages__item
        +icon('coffee-cup', 'advantages__icon')
        p.advantages__text ОЖИДАНИЕ С КОМФОРТОМ
      .big-gear__wrapper  
        img(src="static/images/content/big-gear.png").big-gear  
    include services
        
