section.s-city-motors
  .container
    .banner__wrapper
      .banner__dots
      .banner
        .js-banner
          .banner__item
            .banner__img-wrapper
              span.banner__gradient
                img(src="static/images/content/main.jpg" alt="Картинка баннера").banner__img
          .banner__item
            .banner__img-wrapper
              span.banner__gradient
                img(src="static/images/content/main.jpg" alt="Картинка баннера").banner__img
          .banner__item
            .banner__img-wrapper
              span.banner__gradient
                img(src="static/images/content/main.jpg" alt="Картинка баннера").banner__img
          .banner__item
            .banner__img-wrapper
              span.banner__gradient
                img(src="static/images/content/main.jpg" alt="Картинка баннера").banner__img
          .banner__item
            .banner__img-wrapper
              span.banner__gradient
                img(src="static/images/content/main.jpg" alt="Картинка баннера").banner__img
      .city-motors__info
        .section-title.city-motors__title CITY-MOTORS
        p.city-motors__text Самая высокая концентрация специалистов по диагностике и ремонту автомобилей, плюс всегда заполненные склады с неимоверным количеством позиций (свыше 20 000!) по оригинальным запчастям и расходникам – это наш автосервис в Реутове Новогиреево и Балашихе, Деревня Новая. 
        p.city-motors__text Наша сеть Автосервисов – это территория разумных цен и бережного отношения к каждому автомобилю, мы занимаемся профессиональным ремонтом американских, китайских, японских, корейских, французских, немецких и европейских автомобилей.
