section.s-remont
  .container
    h2.section-title.remont__title РЕМОНТ АВТОМОБИЛЕЙ В БАЛАШИХЕ
    h5.remont__subtitle Любой ремонт автомобилей начинается с первичного осмотра и дефектовки
    .remont__wrapper
      include ../../modules/diagnostic/diagnostic
      .remont__banner-wrapper
        .remont-banner
          .remont__js-banner
            .remont__banner-item
              .remont__banner-img--wrapper
                img(src="static/images/content/remont-banner.jpg" alt="Картинка баннера").remont__banner-img
            .remont__banner-item
              .remont__banner-img--wrapper
                img(src="static/images/content/remont-banner.jpg" alt="Картинка баннера").remont__banner-img
            .remont__banner-item
              .remont__banner-img--wrapper
                img(src="static/images/content/remont-banner.jpg" alt="Картинка баннера").remont__banner-img
            .remont__banner-item
              .remont__banner-img--wrapper
                img(src="static/images/content/remont-banner.jpg" alt="Картинка баннера").remont__banner-img
            .remont__banner-item
              .remont__banner-img--wrapper
                img(src="static/images/content/remont-banner.jpg" alt="Картинка баннера").remont__banner-img
          .remont__banner-dots
