h2.services__title Наши услуги
.services
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/cardan.jpg", alt="Ремонт карданов").services__img
      .services__name-wrapper
        h5.services__name Ремонт карданов
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/oborudovanie.jpg", alt="Дополнительное оборудование").services__img
      .services__name-wrapper
        h5.services__name Дополнительное оборудование
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/kardan.jpg", alt="Кардан").services__img
      .services__name-wrapper
        h5.services__name Кардан
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/kuzov.jpg", alt="Кузовной ремонт").services__img
      .services__name-wrapper
        h5.services__name Кузовной ремонт
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/podveska.jpg", alt="Подвеска").services__img
      .services__name-wrapper
        h5.services__name Подвеска
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/pokraska.jpg", alt="Покраска").services__img
      .services__name-wrapper
        h5.services__name Покраска
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/inomarki.jpg", alt="Ремонт иномарок").services__img
      .services__name-wrapper
        h5.services__name Ремонт иномарок
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/dvizhok.jpg", alt="Ремонт двигателя").services__img
      .services__name-wrapper
        h5.services__name Ремонт двигателя
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/rulevoe.jpg", alt="Рулевое управление").services__img
      .services__name-wrapper
        h5.services__name Рулевое управление
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/vipusk.jpg", alt="Система выпуска О.Г.").services__img
      .services__name-wrapper
        h5.services__name Система выпуска О.Г.
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/condicioner.jpg", alt="Кондиционирование").services__img
      .services__name-wrapper
        h5.services__name Кондиционирование
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/svet.jpg", alt="Свет").services__img
      .services__name-wrapper
        h5.services__name Свет
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/ohlajdenie.jpg", alt="Система Охлаждения").services__img
      .services__name-wrapper
        h5.services__name Система Охлаждения
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/toplivo.jpg", alt="Система подачи топлива").services__img
      .services__name-wrapper
        h5.services__name Система подачи топлива
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/stekla.jpg", alt="Стекла").services__img
      .services__name-wrapper
        h5.services__name Стекла
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/teh-obsl.jpg", alt="Тех.Обслуживание").services__img
      .services__name-wrapper
        h5.services__name Тех.Обслуживание
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/tormoza.jpg", alt="Тормозная система").services__img
      .services__name-wrapper
        h5.services__name Тормозная система
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/transmissia.jpg", alt="Трансмиссия").services__img
      .services__name-wrapper
        h5.services__name Трансмиссия
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover-price Цены - в зависимости от работ
      p.services__hover-text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/turbina.jpg", alt="Турбина").services__img
      .services__name-wrapper
        h5.services__name Турбина
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
  .services__item
    .services__card
      span.services__gradient
        img(src="static/images/content/services/electro.jpg", alt="Электрооборудование").services__img
      .services__name-wrapper
        h5.services__name Электрооборудование
    .services__desc
      h5.services__hover-name Ремонт карданов
      p.services__hover__price Цены - в зависимости от работ
      p.services__hover__text Ремонт в день обращения
      a(href="").services__link Прайс-Лист
