section.s-works
  .container
    h3.works__title Наш автосервис выполнит: 
    .works__wrapper
      .works__item
        .works__number 01
        .works__text Диагностику подвески
      .works__item
        .works__number 02
        .works__text Все виды ремонта автомобиля
      .works__item
        .works__number 03
        .works__text Настройку и наладку оборудования
      .works__item
        .works__number 04
        .works__text Диагностику подвески
      .works__item
        .works__number 05
        .works__text Все виды ремонта автомобиля
      .works__item
        .works__number 06
        .works__text Настройку и наладку оборудования
    .works__logo-wrapper
      img(src="static/images/general/logo.png").works__logo
