.diagnostic
  .diagnostic__title
  ul.diagnostic__list
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Компьютерная диагностика двигателя, с проверкой оборотов, наполняемости цилиндров, системы управления (зажигание-впрыск), считывание кодов и их обнуление;
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Проверка электрооборудования и связанных с ним систем освещения, круиз и климат контроля, приборной панели.  
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Проверка ходовой части и подвески (ступицы, покрышки, стойки, шаровые, наконечники, рычаги, шрусы, чашки и т. д.);
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Проверка тормозной системы (суппорты, диски, шланги, трубки, колодки, АБС / ПБС);
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Диагностика рулевого управления;    
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Проверка системы охлаждения;
    li.diagnostic__item
      +icon('gear', 'diagnostic__icon')
      p.diagnostic__text Диагностика трансмиссии;
  .diagnostic__desc Итогом диагностики является список выявленных неисправностей или слабых мест, которые могут перерасти в поломку узла или агрегата.
