.s-advantages-and-service {
  background-image: url('../images/content/advantages.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 4px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 4px 30px 0px rgba(0, 0, 0, 0.5);
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &__icon {
    fill: $primary-color;
    @include size(130px);
    padding-bottom: 26px;
  }
  &__item {
    width: 25%;
    text-align: center;
    margin-bottom: 80px;
  }
  &__title {
    font-size: 47px;
    line-height: 59px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 66px;
    padding-top: 20px;
  }
}
